@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    height: 100vh;
    background: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 16px;
    font-weight: 500;
}

.layout {
    width: 354px;
    min-width: 280px;
    background: hsl(225, 100%, 100%);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 48px 30px 48px;
    box-shadow: 0 5px 80px 0px hsl(224, 100%, 92%);
}

.top-image {
    margin-bottom: 50px;
}

#main-heading {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-top: 0;
}

#description {
    color: hsl(224, 23%, 55%);
}

.price-tab {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
}

#plan {
    margin-bottom: 5px;
    color: hsl(223, 47%, 23%);
}

#pricing {
    margin-top: 0;
    color: hsl(224, 23%, 55%);
}

#plan-change {
    color: hsl(245, 75%, 52%);
}

#plan-change:hover {
    text-decoration: none;
    color: hsl(245, 83%, 68%);
}

#continue {
    border: 0;
    width: 100%;
    background: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 30px -10px hsl(224, 23%, 55%)
}

#continue:hover {
    cursor: pointer;
    background: hsl(245, 83%, 68%);
}

#cancel {
    border: 0;
    background: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    padding: 15px 0;
}

#cancel:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width:445px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }

    .layout {
        padding: 0 24px 24px 24px;
    }
}